/*Color*/
$white: #f8f8f8;
$blue: #144272;
$dark-blue: #0A2647;
$black: #333333;

$shadow: drop-shadow(11px 10px 20px rgba(0, 0, 0, 0.25));

//breakpoints
$sm: 768px;
$md: 1024px;
$lg: 1280px;
$xl: 1440px;
$wide: 2500px;
