@import "../../../styles/all.scss";


.files {
  padding: 20px 0;
  gap: 20px;

  .fileContainer {
    @include flex(row, center, center);
    margin: 10px 0;
    gap: 5px;
    color: $black;

    svg {
      font-size: 20px;
      color: $dark-blue;
    }

    .file {
      @include fontStyle(400, 18px, 25px, $black);
    }
  }
}

.notFoundContainer {
  padding: 30px 0;

  .fileNotFound {
    @include fontStyle(400, 18px, 25px, $black);
    text-align: center;
  }
}
