@import "../../../styles/all.scss";

.modalWrapper {
  // background-color: $white;
  border-radius: 8px;
  padding: 5px 15px;
  margin: 20px auto 0;
  .button {
    @include fontStyle(400, 15px, 25px, $white);
    position: relative;
    cursor: pointer;

    // @include mqW($lg, max) {
    //   @include responsiveFontStyle(15px, 18px);
    // }

    &::after {
      background: none repeat scroll 0 0 transparent;
      bottom: 2px;
      content: "";
      display: block;
      height: 1px;
      right: 100%;
      position: absolute;
      background-color: $white;
      transition: width 0.3s ease 0s, right 0.3s ease 0s;
      width: 0;
    }
    &:hover::after {
      width: 100%;
      right: 0;
    }
  }
}
